#include "resource.h"

1 VERSIONINFO
FILEVERSION     1, 0, 1, 0
PRODUCTVERSION  1, 0, 1, 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
   BLOCK "080904E4"
     BEGIN
       VALUE "CompanyName", ""
       VALUE "FileDescription", "Adventure Gamer Editor"
       VALUE "FileVersion", "1.0"
       VALUE "InternalName", "AdvEdit"
       VALUE "LegalCopyright", L"Copyright \x00A9 2023 Frostbyte"
       VALUE "OriginalFilename", "AdvEdit.exe"
       VALUE "ProductName", "Adventure Gamer Editor"
       VALUE "ProductVersion", "0.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

1 24 "application.manifest"

IDI_APPICON ICON    "app_icon.ico"

// "Real Programmers always confuse Christmas and Halloween because Oct31 == Dec25" - Andrew Rutherford
